<%- include('partials/header.ejs') %>  

<center><h2><%= heading %></h2></center>
<div class="container d-flex justify-content-center">

  <% if (locals.post) { %>
    <!-- HTML Only supports 'GET' and 'POST' request -->
    
    <form class="p-4 m-2" method="post" action="/editPost/<%=post._id%>">

      <input type="text" class="form-control m-2" name="title" value="<%=post.title %>">
      <textarea name="content" class="form-control m-2" rows="10"><%=post.content %></textarea>
      <input type="text" class="form-control m-2" name="author" value="<%=post.author %>">

      <button class="btn btn-info" type="submit">
        <%= submit %>
      </button>
    </form>
  <% } else { %>
  
        <form class="p-4 m-2" method="post" action="/createPost">
          <input type="text" class="form-control m-2" name="title" placeholder="Title" required>
          <textarea name="content" class="form-control m-2" placeholder="Content" required rows="10"></textarea>
          <input type="text"class="form-control m-2" name="author" placeholder="Author" required>
          <button class="bg-info" type="submit">
            <%= submit %>
          </button>
        </form>
        <% } %>
  </div>

<%- include('partials/bgAnime.ejs') %>
<%- include('partials/footer.ejs') %>
