<a href="/write">
    <button type="button" class="btn btn-outline-info flex-d align-items-center">
        <span class="material-symbols-outlined">add_circle</span>
         Add new
</button>
 </a>
<br>
<div id="showall-body" class="p-4">
    <%if(locals.mydb){ for(let i=0;i<mydb.length;i++){%>
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#<%= "id"+i.toString() %>" aria-expanded="false" aria-controls="<%= "id"+i.toString() %>">
                       <%= i+1 %>. <%= mydb[i].tit %>

                    </button>
                </h2>
                <div id="<%= "id"+i.toString() %>" class="accordion-collapse collapse" data-bs-parent="#accordionExample" style="">
                    <div class="accordion-body">
                        <%= mydb[i].cont %>
                    </div>
                </div>
            </div>

        </div>

        <br>
        <% }} else if(locals.flag==0){%>
            <h3>Nothing to show</h3>
            <% } %>

</div>